.image-central {
  width: 100%;
}

.project {
  width: 50%;
}
.project-image {
  width: 100%;
  height: auto;
}

#project1 {
  margin-right: 5px;
}

#project2 {
  margin-left: 5px;

}

#project3 {
  margin-right: 5px:
}
